<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Vitej knihovniku</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
		<!-- NAVBAR -->
		<ui:include src="/reader/navbar.xhtml" />
		
		<b:container>
		
		        	
			<b:column span="4">
			
				<!-- TITLE UPDATE FORM -->
				<b:form id="titleForm" >
				
					<!-- PERSON VARIABLE -->
					<c:set var="person" value="#{personController.getLoggedPerson()}" scope="request" />
					
					<!-- OUTPUTS -->
					<p:panel id="panel" header="Moje informace" style="margin-bottom:10px;">
					    <p:messages id="messages" />
					    <h:panelGrid columns="2" cellpadding="5" style="padding-bottom:10px;" >
							
							<!-- FIRST NAME  -->
							<p:outputLabel for="firstName" value="Jméno:" />
							<p:outputLabel id="firstName" value="#{person.firstName}" />
			        	
			        		<!-- LAST NAME -->
			        		<p:outputLabel for="lastName" value="Příjmení:" />
			        		<p:outputLabel id="lastName" value="#{person.lastName}" />
	
			        		<!-- BIRTH CODE -->
			        		<p:outputLabel for="birthCode" value="Rodné číslo:" />
			        		<p:outputLabel id="birthCode" value="#{person.birthCode}" />
			        	
			        		<!-- EMAIL -->
			        		<p:outputLabel for="email" value="Email:" />
			        		<p:outputLabel id="email" value="#{person.email}" />
			        		
			        		<!-- PHONE -->
			        		<p:outputLabel for="phone" value="Mobil:" />
			        		<p:outputLabel id="phone" value="#{person.phone}" />
			        	
			        		<!-- DATE OF REGISTRATION -->
			        		<p:outputLabel for="dateRegistration" value="Datum regitrace:" />
			        		<p:outputLabel id="dateRegistration" value="#{person.dateRegistration}" />
				    			        
					    </h:panelGrid>
					</p:panel>
					
					<p:toolbar>
						<!-- BUTTONS -->
				        <f:facet name="right">
				            
				        	<!-- EDIT BUTTON -->
				        	<b:commandButton 
				        		value="Přidat" 
				        		look="success" 
				        		action="#{personController.edit(person)}" 
				        		style="margin-left: 5px;" />
				        		
				        </f:facet>
	    			</p:toolbar>
	    	
				</b:form>
			</b:column>		
		</b:container>
	</h:body>
</html>