<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

	<b:navBar brand="Black Books" brandHref="readerOverview.xhtml" inverse="true"
		fixed="top">
		<b:navbarLinks>
			<b:navLink value="Moje výpůjčky" href="/blackbooks/reader/userBorrowings.xhtml?faces-redirect=true"></b:navLink>
			<b:navLink value="Moje rezervace" href="/blackbooks/reader/userReservations.xhtml?faces-redirect=true"></b:navLink>
			<b:navLink value="Správa účtu" href="/blackbooks/reader/accountOverview.xhtml?faces-redirect=true"></b:navLink>
		</b:navbarLinks>

		<h:form method="post" styleClass="navbar-form navbar-right">
                <b:commandButton action="#{accountDAO.logout}"
				value="Odhlásit se" look="success" icon="chevron-right"
				iconAlign="right" />
		</h:form>
		
	</b:navBar>
	
	<!--  SPACE -->
	<b:container>
		<b:row>
			<b:column col-md="6" col-sm="12" style="height: 50px;" />
		</b:row>
	</b:container>
</ui:composition>