<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Vítej čtenáři</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
	
		<!-- NAVBAR -->
		<ui:include src="navbar.xhtml" />
			
		<!--  FORM -->
	    <b:container>
			<b:column col-xs="12">
				<h:form id="findTitleForm">
				
					<!-- FIRST LINE -->
					<b:column col-xs="12">
	
						<!-- TITLE NAME -->
						<b:column col-xs="2">
						   <h:outputText value="Název:"/>
						</b:column>
						
						<b:column col-xs="4">
						    <b:inputText placeholder="" value="#{findTitleBean.title}"/>
						</b:column>
										
						<!-- ISBN -->
						<b:column col-xs="2">
					   		<h:outputText value="ISBN:"/>
						</b:column>
						
						<b:column col-xs="4">
						    <b:inputText placeholder="" value="#{findTitleBean.isbn}"/>
						</b:column>
		     		</b:column>
		         
		    		<!-- SECOND LINE -->
					<b:column col-xs="12">
					
						<!-- GENRES -->
						<b:column col-xs="2">
						   <h:outputText value="Žánr:"/>
						</b:column>
						<b:column col-xs="4">
						   <b:selectMultiMenu value="#{findTitleBean.genre}">  
							  <f:selectItems 
							  	value="#{genreController.getAll()}" 
							  	var="genre" 
							  	itemValue="#{genre.name}" 
							  	itemLabel="#{genre.name}"/>
						   </b:selectMultiMenu>
						</b:column>
											
						<!-- AUTHORS -->
						<b:column col-xs="2">
						   <h:outputText value="Autor:"/>
						</b:column>
						<b:column col-xs="4">
						   <b:selectMultiMenu value="#{findTitleBean.author}" maxHeight="500">  
							  <f:selectItems value="#{authorController.getAll()}" 
							  	var="author"
							  	itemValue="#{author.fullName}" 
							  	itemLabel="#{author.fullName}"/>
						   </b:selectMultiMenu>
						</b:column>
		     		</b:column>
		     		
		     		<!-- SPACE -->
					<b:column col-xs="12" style="height: 15px;"/>
		     		
		     		<!-- THIRD LINE -->
					<b:column col-xs="12">
					
						<!-- LANGUAGES-->
						<b:column col-xs="2">
						   <h:outputText value="Jazyk:"/>
						</b:column>
						<b:column col-xs="4">
						   <b:selectMultiMenu value="#{findTitleBean.lang}">  
							  <f:selectItem itemValue="cestina" itemLabel="čeština"/>
							  <f:selectItem itemValue="anglictina" itemLabel="angličtina"/>
						   </b:selectMultiMenu>
						</b:column>
											
						<b:column col-xs="2"/>
						<b:column col-xs="4"/>
						
		     		</b:column>
		     	
					<!-- SPACE -->
					<b:column col-xs="12" style="height: 15px;"/>			
		     		
		     		<b:column col-xs="12">
					
						<!-- FIND BUTTON -->
						<b:column col-xs="2" />
						<b:column col-xs="4">
						    <b:commandButton 
						    	update="tabbb" 
						    	icon="search" 
						    	value="Vyhledat" 
						    	look="primary" 
						    	style="width:100%" 
						    	actionListener="#{titleController.findTitles()}" />
						</b:column>
		     		</b:column>
		     		
		   		</h:form>
			 </b:column>
		</b:container>
		   	
	   	<!-- SPACE -->
		<b:column col-xs="12" style="height: 15px;"/>				
			     		
		<!-- TABLE OF TITLES -->
	 	<b:container>
	 		<b:form id="tabbb">
		  		<b:dataTable
					class="editableCarTable" 
					value="#{titleController.getFilteredTitles()}" 
					var="title" 
					searching="false" 
					responsive="true">
		  			
		  			<!-- ISBN -->
					<b:dataTableColumn label="Isbn">
	    				<h:outputText value="#{title.isbn}" />
					</b:dataTableColumn>
					
					<!-- NAME -->
					<b:dataTableColumn label="Název">
	    				<h:outputText value="#{title.name}" />
					</b:dataTableColumn>
					
					<!-- AUTHORS-->
					<b:dataTableColumn label="Autoři">
	    				<h:outputText value="#{title.authors}" />
					</b:dataTableColumn>
					
					<!-- GENRES -->
					<b:dataTableColumn label="Žánry">
	    				<h:outputText value="#{title.genres}" />
					</b:dataTableColumn>
					
					<!-- EDITION -->
					<b:dataTableColumn label="Edice">
		    				<h:outputText value="#{title.edition}" />
					</b:dataTableColumn>
					
			   		<!-- BUTTONS -->
			   		<b:dataTableColumn label="Akce" orderable="false">
	    				
	    				<!-- RESERVATION BUTTON -->
				        <b:commandButton value="Rezervovat" 
					        look="success" 
					        ajax="true" 
					        update="@(.editableCarTable)" 
					        action="#{reservationController.add(title)}"
					        rendered="#{reservationController.hasNotReserved(title)}" />
					        
					    <!-- DELETE BUTTON -->
					    <b:commandButton value="Zrušit" 
					        look="warning" 
					        ajax="true" 
					        update="@(.editableCarTable)" 
					        action="#{reservationController.deletem(title)}"
					        rendered="#{reservationController.hasReserve(title)}" />
					        
	   				</b:dataTableColumn>
	   			</b:dataTable>
			</b:form>
	    </b:container>
	    <b:messages  for="tabbb"/> 
	</h:body>
</html>