<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Vítej čtenáři</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
	
		<!-- NAVBAR -->
		<ui:include src="/reader/navbar.xhtml" />
			
		<!-- TITLE TABLE LIST, EDIT, REMOVE -->
		<b:container>
			<b:form id="borrowTab">
		  		<b:dataTable
		  			class="editableCarTable" 
		  			value="#{borrowingController.getMyBorrowings()}" 
		  			var="borrowing" 
		  			searching="false" 
		  			responsive="true">
		  			
					<!-- ISBN -->
	   				 <b:dataTableColumn label="Isbn">
	    				<h:outputText value="#{borrowing.copy.title.isbn}" />
	   				 </b:dataTableColumn>
	   				
	   				<!-- TITLE NAME -->
			   		<b:dataTableColumn  label="Titul">
	    				<h:outputText value="#{borrowing.copy.title.name}" />
			   		</b:dataTableColumn>
			   		
			   		<!-- NUMBER OF COPY -->
			   		<b:dataTableColumn  label="Výtisk">
	    				<h:outputText value="#{borrowing.copy.numCopy}" />
			   		</b:dataTableColumn>
			   		
			   		<!-- BORROW TO -->
			   		<b:dataTableColumn  label="Vrátit do">
	    				<h:outputText value="#{borrowing.borrowTO}" />
			   		</b:dataTableColumn>
			   		
			   		<!-- IS RETURNED -->
					<b:dataTableColumn label="Vráceno">
      					<h:outputText value="ANO" rendered="#{borrowing.isReturn}" style="color:green;"/>
			   		</b:dataTableColumn>
				
				</b:dataTable>
			</b:form>
		</b:container>
	</h:body>
</html>