<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Moje Rezervace - Black Books</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
		
		<!-- NAVBAR -->
		<ui:include src="/reader/navbar.xhtml" />
  		
		<!-- TABLE OF RESERVATIONS -->
	 	<b:container>
	 		<b:form id="tabbb">
		  		<b:dataTable class="editableCarTable" value="#{reservationController.myReservations}" var="reservation" searching="false" responsive="true">
		  			
		  			<!-- ISBN -->
	   				 <b:dataTableColumn >
		  				<f:facet name="header">
	      					<h:outputText value="ISBN"/>
	    				</f:facet> 
	    				<h:outputText value="#{reservation.title.isbn}" />
	   				 </b:dataTableColumn>
	   				
	   				<!-- NAME -->
			   		<b:dataTableColumn  >
			   			<f:facet name="header">
	      					<h:outputText value="Název titulu"/>
	    				</f:facet> 
	    				<h:outputText value="#{reservation.title.name}" />
			   		</b:dataTableColumn>
			   		
			   		<!-- AUTHOR -->
			   		<b:dataTableColumn>
			   			<f:facet name="header">
	      					<h:outputText value="Autor/Autoři"/>
	    				</f:facet>
				   		<ui:repeat value="#{reservation.title.authorships}" var="authorship">
						    #{authorship.author.firstName} #{authorship.author.lastName}<br/>
						</ui:repeat>
			   		</b:dataTableColumn>
	   				 
			   		
			   		<!-- RESERVE TO -->
			   		<b:dataTableColumn  >
			   			<f:facet name="header">
	      					<h:outputText value="Rezervace vyprši"/>
	    				</f:facet> 
	    				<h:outputText value="#{reservation.reserveTo}" />
			   		</b:dataTableColumn>
			   		
			   		<!-- RESERVATION -->
			   		<b:dataTableColumn orderable="false">
	   					<f:facet name="header">
	      					<h:outputText value=""/>
	    				</f:facet> 
					    <b:commandButton value="Zrušit" 
					        look="warning" 
					        ajax="true" 
					        update="@(.editableCarTable)" 
					        action="#{reservationController.deletem(reservation.title)}" />
	   				</b:dataTableColumn>
	   			</b:dataTable>
			</b:form>
	    </b:container>    
	</h:body>
</html>