<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

	<b:navBar brand="Black Books" brandHref="/blackbooks/librarian/librarianOverview.xhtml" inverse="true" fixed="top">
		<b:navbarLinks>
			<b:navLink value="Knihovníci" href="/blackbooks/boss/personsOverview.xhtml"></b:navLink>
			<b:navLink value="Autoři" href="/blackbooks/librarian/titles.xhtml?faces-redirect=true"></b:navLink>
			<b:navLink value="Čtenáři" href="/blackbooks/librarian/management/readers/readers.xhtml?faces-redirect=true"></b:navLink>
			<b:navLink value="Výpůjčky" href="/blackbooks/librarian/books/newauthor.xhtml"></b:navLink>
			<b:navLink value="Rezervace" href="/blackbooks/librarian/newauthor.xhtml?faces-redirect=true"></b:navLink>
			<b:navLink value="Poplatky" href="/blackbooks/librarian/books/genres.xhtml?faces-redirect=true"></b:navLink>
		</b:navbarLinks>

		<h:form method="post" styleClass="navbar-form navbar-right">
			<b:commandButton 
				action="#{accountDAO.logout}"
				value="Odhlásit se" 
				look="success" 
				icon="chevron-right"
				iconAlign="right" />
		</h:form>
	</b:navBar>
</ui:composition>