<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Seznam knihovníků</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
	
		<!-- NAVBAR -->
		<ui:include src="/boss/navbar.xhtml" />
		
		<!--  SPACE -->
		<b:container>
			<b:row>
				<b:column col-md="6" col-sm="12" style="height: 50px;" />
			</b:row>
		</b:container>
			
		<b:container>
			<b:form id="readersTab">
				<b:dataTable 
					class="editableCarTable" 
					value="#{personController.getAll()}" 
					var="reader" 
					searching="false" 
					responsive="true">
							
					<!-- IS LIBRARIAN -->
					<b:dataTableColumn label="Knihovník">
	    				<b:selectBooleanCheckbox value="#{reader.isKnihovnik=='true'}" disabled="true" />
					</b:dataTableColumn>
				
					<!-- LOGIN -->
					<b:dataTableColumn label="Login">
	    				<h:outputText value="#{reader.login}" />
					</b:dataTableColumn>
					
					<!-- FIRST NAME -->
					<b:dataTableColumn label="Jméno">
	    				<h:outputText value="#{reader.firstName}" />
					</b:dataTableColumn>
					
					<!-- LAST NAME -->
					<b:dataTableColumn label="Příjmení">
	    				<h:outputText value="#{reader.lastName}" />
					</b:dataTableColumn>
					
					<!-- EMAIL -->
					<b:dataTableColumn label="Email">
	    				<h:outputText value="#{reader.email}" />
					</b:dataTableColumn>
					
					<!-- BIRTH CODE -->
					<b:dataTableColumn label="Rodné číslo">
	    				<h:outputText value="#{reader.birthCode}" />
					</b:dataTableColumn>
					
					<!-- DATE REGISTRATION -->
					<b:dataTableColumn label="Datum registrace">
						<h:outputText value="#{reader.dateRegistration}" /> 
		    				<!--<b:dateTimePicker
											   value="#{reader.dateRegistration}"
											format="YYYY-MM-DD"
											   render-label="true"
											   show-time="false" /> -->
					</b:dataTableColumn>
					
					<!-- BUTTONS -->
					<b:dataTableColumn >
						<f:facet name="header">Delete</f:facet>
						
						<!-- SET LIBRARIAN BUTTON -->
						<b:commandButton 
							value="Knihovnik?" 
							look="warning" 
							action="#{personsRoleController.nastavKnihovnika(reader)}"  
							update="readersTab" />
							
						<!-- EDIT PERSON BUTTON -->
						<b:commandButton 
							value="Editovat" 
							look="info" 
							action="#{personController.edit(reader)}" />
							
					</b:dataTableColumn>
				</b:dataTable>
			</b:form>
		</b:container>
	</h:body>
</html>