<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<h:head>
		<title>Knihovna Black Books</title>
	</h:head>
	
	<h:body>
		<form method="post" action="j_security_check">
			<fieldset>
				<label>Jméno: 
					<input type="text" name="j_username" />
				</label><br />
				
				<label>Heslo: 
					<input type="password" name="j_password" />
				</label><br />
				
				<button value="submit">Přihlásit se</button>
			</fieldset>
		</form>
	</h:body>
</html>