<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Vytvoření čtenáře</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<ui:include src="/librarian/navbar.xhtml" />
		
		<!--  SPACE -->
		<b:container>
			<b:row>
				<b:column col-md="6" col-sm="12" style="height: 50px;"/>
			</b:row>
		</b:container>
		
		<b:container>
			<b:column span="4">
				<!-- AUTHOR'S FORM -->
				<b:form id="readerForm" >
				
					<!-- INPUTS -->
					<p:panel id="panel" header="Přidat/upravit čtenáře" style="margin-bottom:10px;">
					    <p:messages id="messages" />
					    <h:panelGrid columns="2" cellpadding="5" style="padding-bottom:10px;">
				
							<!-- FIRST NAME -->
					        <p:outputLabel for="login" value="Login:" />
					        <p:inputText id="login" value="#{personBean.login}" required="true" style="margin-top:10px;">
					            <f:validateLength minimum="2" />
					        </p:inputText>
					        
					    	<!-- FIRST NAME -->
					        <p:outputLabel for="firstName" value="Jméno:" />
					        <p:inputText id="firstName" value="#{personBean.firstName}" required="true" style="margin-top:10px;">
					            <f:validateLength minimum="2" />
					        </p:inputText>				        
					
							<!-- LAST NAME -->
					        <p:outputLabel for="lastName" value="Příjmení:" />
					        <p:inputText id="lastName" value="#{personBean.lastName}" required="true" style="margin-top:10px;"/>				        
					        
					        <!-- BIRTH CODE -->
					        <p:outputLabel for="birthCode" value="Rodné číslo:" />
					        <p:inputText id="birthCode" value="#{personBean.birthCode}" required="true" style="margin-top:10px;"/>
					        
					        <!-- EMAIL -->
					        <p:outputLabel for="email" value="Email:" />
					        <p:inputText id="email" value="#{personBean.email}" required="true" style="margin-top:10px;"/>
					        
					        <!-- PHONE -->
					        <p:outputLabel for="phone" value="Telefon:" />
					        <p:inputText id="phone" value="#{personBean.phone}" required="true" style="margin-top:10px;"/>
					        
					        <!-- STREET -->
					        <p:outputLabel for="street" value="Ulice:" />
					        <p:inputText id="street" value="#{addressBean.street}" required="true" style="margin-top:10px;"/>
					        
					        <!-- CITY -->
					        <p:outputLabel for="city" value="Město:" />
					        <p:inputText id="city" value="#{addressBean.city}" required="true" style="margin-top:10px;"/>
					        
					        <!-- POST CODE -->
					        <p:outputLabel for="postCode" value="PSČ:" />
					        <p:inputText id="postCode" value="#{addressBean.postCode}" required="true" style="margin-top:10px;"/>
					        		        
					    </h:panelGrid>
					</p:panel>
				
					<p:toolbar>
						<!-- BUTTONS -->
				        <f:facet name="right">
				        
        		        	<!-- BACK BUTTON -->
				            <b:commandButton 
				            	value="Zpět" 
				            	look="danger" 
				            	action="#{personController.back}" 
				            	style="margin: 5px;" 
				            	immediate="true" />
				            
				        	<!-- ADD BUTTON -->
				            <b:commandButton
				            	value="Přidat" 
				            	look="success" 
				            	action="#{personController.add}" 
				            	style="margin-left: 5px;" />
				            	
				        </f:facet>
		   			</p:toolbar>
				</b:form>
			</b:column>		
		</b:container>
	</h:body>
</html>