<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Úprava</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<!-- NAVBAR -->
		<ui:include src="/librarian/navbar.xhtml" />
		
		
		<!-- FORM -->
	    <b:container>
		    <b:column col-xs="12">
					<h:form id="uvodniFormular">
			     		<b:column col-xs="12">
			     		
							<!-- FIND BUTTON -->
							<b:column col-xs="2"/>
							<b:column col-xs="4"/>
							
							<!-- ADD BUTTON -->
							<b:column col-xs="2"/>		
							<b:column col-xs="4">
							   <b:commandButton value="Přidat čtenáře" icon="plus" look="success" style="width:100%" action="insertReaderForm"/>
							</b:column>
			     		</b:column>
			     		
			     		<!-- SPACE -->
						<b:column col-xs="12" style="height: 15px;"/>
			   		</h:form>
				 </b:column>
   		</b:container>
   		
		<b:container>
			<b:form id="readersTab">
				<b:dataTable class="editableCarTable" value="#{personController.getAllReaders()}" var="reader" searching="false" responsive="true">			
					<!-- LOGIN -->
					<b:dataTableColumn >
						<f:facet name="header">Login</f:facet>
		    				<h:outputText value="#{reader.login}" />
					</b:dataTableColumn>
					
					<!-- FISRT NAME -->
					<b:dataTableColumn >
						<f:facet name="header">Jméno</f:facet>
		    				<h:outputText value="#{reader.firstName}" />
					</b:dataTableColumn>
					
					<!-- LAST NAME -->
					<b:dataTableColumn >
						<f:facet name="header">Příjmení</f:facet>
		    				<h:outputText value="#{reader.lastName}" />
					</b:dataTableColumn>
					
					<!-- EMAIL -->
					<b:dataTableColumn >
						<f:facet name="header">Email</f:facet>
		    				<h:outputText value="#{reader.email}" />
					</b:dataTableColumn>
					
					<!-- BIRTH CODE -->
					<b:dataTableColumn >
						<f:facet name="header">Rodné číslo</f:facet>
		    				<h:outputText value="#{reader.birthCode}" />
					</b:dataTableColumn>
					
					<!-- REGISTRATION DATE -->
					<b:dataTableColumn >
						<f:facet name="header">Datum registrace</f:facet>
		    				 <h:outputText value="#{reader.dateRegistration}" />
					</b:dataTableColumn>
					
					<!-- BUTTONS -->
					<b:dataTableColumn >
					
						<!-- DELETE BUTTON -->
						<b:commandButton 
							value="Vymazat" 
							look="danger" 
							action="#{personController.delete(reader)}" />
						<!-- EDIT BUTTON -->	
						<b:commandButton 
							value="Editovat" 
							look="info" 
							action="#{personController.edit(reader)}" />
						
						<!-- EDIT GENRE BUTTON -->
						<b:commandButton 
							value="Žánr" 
							look="primary" 
							action="#{genreController.edit(genre)}" />
							
					</b:dataTableColumn>
					
				</b:dataTable>
			</b:form>
		</b:container>
	</h:body>
</html>