<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

	<b:navBar brand="Black Books" brandHref="index.xhtml" inverse="true" fixed="top">
	
		<b:navbarLinks>
			<b:navLink value="O nás" href="#"></b:navLink>
		</b:navbarLinks>

		<h:form method="post" styleClass="navbar-form navbar-right">
			<div class="form-group">
				<b:inputText 
					placeholder="Login" 
					fieldSize="sm" 
					type="text"
					name="j_username" 
					value="#{accountDAO.account.username}" 
					required="true" />
			</div>
			<div class="form-group">
				<b:inputText
					placeholder="Password"
					fieldSize="sm" 
					type="password"
					name="j_password" 
					value="#{accountDAO.account.password}" 
					required="true" />
			</div>
                #{' '}
                <b:commandButton
                	action="#{accountDAO.login}"
					value="Sign in" 
					look="success" 
					icon="chevron-right"
					iconAlign="right" />
		</h:form>
	</b:navBar>
</ui:composition>