<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Správa výtisků</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
	
		<!-- NAVBAR -->
		<ui:include src="/librarian/navbar.xhtml" />
		
		<!--  SPACE -->
		<b:container>
			<b:row>
				<b:column col-md="6" col-sm="12" style="height: 50px;" />
			</b:row>
		</b:container>
			
		<!-- TABLE OF COPIES -->
		<b:container>
			
				<b:form id="genreTab">
				<!-- INPUTS -->
				<p:panel id="panel" header="Přehled výtisků" style="margin-bottom:10px;">
				    <p:messages id="messages" />
				    <h:panelGrid columns="2" cellpadding="5" style="padding-bottom:10px;">
				    
						<b:dataTable class="editableCarTable"
							value="#{copyController.all}" 
							var="copy" 
							searching="true" 
							multi-column-search="true" 
							responsive="true">
									
								<!-- ISBN -->
								<b:dataTableColumn label="ISBN">
				    				<h:outputText value="#{copy.title.isbn}" />
								</b:dataTableColumn>
								
								<!-- TITLE NAME -->
								<b:dataTableColumn label="Název titulu">
				    				<h:outputText value="#{copy.title.name}" />
				    				
								</b:dataTableColumn>
								<!-- NUMBER OF COPY -->
								<b:dataTableColumn label="Čislo kopie">
				    				<h:outputText value="#{copy.numCopy}" />
								</b:dataTableColumn>
								
								<!-- NOTES -->
								<b:dataTableColumn label="Poznamky">
				    				<b:inputText value="{copy.notes}" placeholder="#{copy.notes}"/>
								</b:dataTableColumn>
								
								<!-- BUTTONS -->
								<b:dataTableColumn >
									<f:facet name="header">Akce</f:facet>
									
									<!-- EDIT BUTTON -->
									<b:commandButton value="Změnit" 
										look="info"
										icon="edit"
										ajax="true" 
										update="@(.editableCarTable)"
										action="#{copyController.edit(copy)}"/>
										
									<!-- DELETE BUTTON -->
									<b:commandButton 
										value="Smazat" 
										look="danger"
										ajax="true" 
										update="@(.editableCarTable)"
										action="#{copyController.delete(copy)}"/>
								</b:dataTableColumn>
						</b:dataTable>
					</h:panelGrid>
				</p:panel>
			</b:form>
		</b:container>
	</h:body>
</html>