<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Uprava</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
		
		<!-- NAVBAR -->
		<ui:include src="/librarian/navbar.xhtml" />
		
		<!-- FORM -->
		<b:form id="genreTab">
				
			<h:outputText value="#{copyBean.title.isbn}" />
			<h:outputText value="#{copyBean.title.name}" />
			<b:inputText value="#{copyBean.title}" />
			<b:inputText value="#{copyBean.notes}" />
			
			<h:commandButton
				action="#{genreController.add}"
				value="Přidat" />
				
			<h:commandButton 
				action="#{genreController.save}" 
				value="Upravit" />
		</b:form>
	</h:body>
</html>