<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Vitej knihovniku</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
	
		<!-- NAVBAR -->
		<ui:include src="/librarian/navbar.xhtml" />
		
		<!-- FORM -->
		<b:form id="genreTab">
			<b:dataTable
				class="editableCarTable" 
				value="#{genreController.getAll()}" 
				var="genre" 
				searching="false" 
				responsive="true">	
						
				<!-- GENRE NAME -->
				<b:dataTableColumn label="Název">
    				<h:outputText value="#{genre.name}" />
				</b:dataTableColumn>
				
				<!-- BUTTONS -->
				<b:dataTableColumn label="Akce">
				
					<!-- SAVE BUTTONS -->
					<b:commandButton 
						value="Uložit" 
						look="warning" 
						action="#{genreController.edit(genre)}" />
						
					<!-- DELETE BUTTONS -->
					<h:commandLink 
						value="Delete" 
						action="#{genreController.delete(genre)}" 
						ajax="true" 
						update="@(.editableCarTable)" />
						
				</b:dataTableColumn>
			</b:dataTable>
		</b:form>	   
	</h:body>
</html>