<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Úprava</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<!-- NAVBAR -->
		<ui:include src="/librarian/navbar.xhtml" />
			
		<!--  SPACE -->
		<b:container>
			<b:row>
				<b:column col-md="6" col-sm="12" style="height: 50px;"/>
			</b:row>
		</b:container>
		
		<b:container>
			<b:column span="4">
			<!-- AUTHOR'S FORM -->
			<b:form id="authorForm" >
			
				<!-- INPUTS -->
				<p:panel id="panel" header="Přidat/upravit autora" style="margin-bottom:10px;">
				    <p:messages id="messages" />
				    <h:panelGrid columns="2" cellpadding="5" style="padding-bottom:10px;">
				    
				    	<!-- FIRST NAME -->
				        <p:outputLabel for="firstName" value="Jméno:" />
				        <p:inputText id="firstName" value="#{authorBean.firstName}" required="true" style="margin-top:10px;">
				            <f:validateLength minimum="2" />
				        </p:inputText>				        
				
						<!-- LAST NAME -->
				        <p:outputLabel for="lastName" value="Příjmení:" />
				        <p:inputText id="lastName" value="#{authorBean.lastName}" required="true" style="margin-top:10px;"/>				        
				        
				        <!-- DATE OF BIRTH -->
				        <p:outputLabel for="birthDate" value="Datum narození:" />
				        <p:calendar id="birthDate" value="#{authorBean.birthDate}" locale="cs_CZ" format="YYYY-DD-MM" style="margin-top:10px;"/>				        
				        
				        <!-- DATE OF DEATH -->
				        <p:outputLabel for="dateOfDeath" value="Datum úmrtí:" />
				        <p:calendar id="dateOfDeath" value="#{authorBean.dateOfDeath}" locale="cs_CZ" format="YYYY-DD-MM" style="margin-top:10px;"/>				       
				        
				        <!-- INTEREST -->
				        <p:outputLabel for="interest" value="Zajímavost:" />
				        <p:inputText id="interest" value="#{authorBean.interest}" style="margin-top:10px;"/>				        
				        
				        <!-- NATIONALITY -->
				        <p:outputLabel for="nationality" value="Národnost:" />
				        <p:inputText id="nationality" value="#{authorBean.nationality}" style="margin-top:10px;"/>
				        
				    </h:panelGrid>
				</p:panel>
				
				<p:toolbar>
					<!-- BUTTONS -->
			        <f:facet name="right">
			        
			        	<!-- BACK BUTTON -->
			            <b:commandButton value="Zpět" look="danger" action="#{authorController.back}" style="margin: 5px;" immediate="true"/>
			            
			        	<!-- ADD BUTTON -->
			            <b:commandButton value="Přidat" look="success" action="#{authorController.add}" style="margin-left: 5px;" />
			        </f:facet>
    			</p:toolbar>
    	
			</b:form>
			</b:column>		
		</b:container>
	</h:body>
</html>