<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Správa výpujček a přehled vrácení</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
	
			<!-- NAVBAR -->
			<ui:include src="navbar.xhtml" />
		
			<!--  SPACE -->
			<b:container>
				<b:row>
					<b:column col-md="6" col-sm="12" style="height: 50px;" />
				</b:row>
			</b:container>
	
			<!-- TABLE OF NOT RETURNED BORROWINGS -->
			<b:container>
				<b:form  id="notBorrowForm">
					<b:dataTable
						class="editableNotBorrowTable" 
						value="#{borrowingController.getNotReturnedBorrowings()}" 
						var="borrow" 
						searching="false" 
						responsive="true">	
								
						<!-- READER LOGIN -->
						<b:dataTableColumn label="Čtenář">
		    				<h:outputText value="#{borrow.reader.login}" />
						</b:dataTableColumn>
						
						<!-- ISBN -->
						<b:dataTableColumn label="Isbn">
		    				<h:outputText value="#{borrow.copy.title.isbn}" />
						</b:dataTableColumn>
						
						<!-- TITLE NAME -->
						<b:dataTableColumn label="Titul">
		    				<h:outputText value="#{borrow.copy.title.name}" />
						</b:dataTableColumn>
						
						<!-- NUMBER OF COPY -->
						<b:dataTableColumn label="Výtisk">
		    				<h:outputText value="#{borrow.copy.numCopy}" />
						</b:dataTableColumn>
						
						<!-- BORROW SINCE -->
						<b:dataTableColumn label="Od">
		    				<h:outputText value="#{borrow.borrowSince}" />
						</b:dataTableColumn>
						
						<!-- BORROW TO -->
						<b:dataTableColumn label="Do">
			    				<h:outputText value="#{borrow.borrowTO}" />
						</b:dataTableColumn>
						
						<!-- BUTTONS -->
						<b:dataTableColumn label="" orderable="false">
						
							<!-- EXTEND BUTTON -->
							<b:commandButton value="Prodloužit"
								look="info" 
								ajax="true" 
								update="@(.editableNotBorrowTable)"
								action="#{borrowingController.extendBorrowing(borrow)}"/>
								
							<!-- ADD RETURN -->
							<b:commandButton value="Vrátit"
								look="success" 
							  	ajax="true" 
								update="@(.editableNotBorrowTable)"
							  	action="#{borrowingController.returnBorrowing(borrow)}"/>
						</b:dataTableColumn>
					</b:dataTable>
				</b:form>
			</b:container>
			
			<!-- TABLE OF RETURNED BORROWINGS -->
			<b:container>
				<b:form  id="borrowForm">
					<b:dataTable
						class="editableBorrowTable"
						value="#{borrowingController.getReturnedBorrowings()}" 
						var="returned" 
						searching="false" 
						responsive="true">
							
						<!-- READER LOGIN -->
						<b:dataTableColumn label="Čtenář">
		    				<h:outputText value="#{returned.reader.login}" />
						</b:dataTableColumn>
						
						<!-- ISBN -->
						<b:dataTableColumn label="Isbn">
		    				<h:outputText value="#{returned.copy.title.isbn}" />
						</b:dataTableColumn>
						
						<!-- TITLE NAME -->
						<b:dataTableColumn label="Titul">
		    				<h:outputText value="#{returned.copy.title.name}" />
						</b:dataTableColumn>
						
						<!-- NUMBER OF COPY -->
						<b:dataTableColumn label="Výtisk">
		    				<h:outputText value="#{returned.copy.numCopy}" />
						</b:dataTableColumn>
						
						<!-- EMPLOYEE LOGIN  -->
						<b:dataTableColumn label="Převzal">
			    			<h:outputText value="#{returned.employee.login}" />
						</b:dataTableColumn>
						
						<!-- DATE RETURNED-->
						<b:dataTableColumn label="Datum">
		    				<h:outputText value="#{returned.borrowTO}" />
						</b:dataTableColumn>
						
						<!-- FINE -->
						<!--<b:dataTableColumn label="Pokuta">
		    				<h:outputText value="#{returned.returnsBs.fine}">
		    					<f:convertNumber />
		    				</h:outputText>
						</b:dataTableColumn>-->
					</b:dataTable>
				</b:form>
			</b:container>
	</h:body>
</html>