<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Vytvořit výpujčku</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
	
		<!--  NAVBAR -->
		<ui:include src="/librarian/navbar.xhtml" />
		
		<!--  SPACE -->
		<b:container>
			<b:row>
				<b:column col-md="6" col-sm="12" style="height: 50px;" />
			</b:row>
		</b:container>
		
		<!-- FORM CREATE BORROW -->
		<b:container>		
			
			
		     		
			<!-- TITLE UPDATE FORM -->
			<b:form id="borrowForm" >
			
				<!-- INPUTS -->
				<p:panel id="panel" header="Výpůjčka titulu" style="margin-bottom:10px;">
				    <p:messages id="messages" />
				    <h:panelGrid columns="2" cellpadding="5" style="padding-bottom:10px;">
				
				    	<!-- ISBN -->
				        <p:outputLabel for="isbn" value="ISBN:" />
				        <p:inputText id="isbn" value="#{borrowingBean.title.isbn}" required="true" style="margin-top:10px;">
				            <f:validateLength minimum="2" />
				        </p:inputText>				        
				
						<!-- NAME -->
				        <p:outputLabel for="name" value="Název:" />
				        <p:inputText id="name" value="#{borrowingBean.title.name}" required="true" style="margin-top:10px;" />
				        
				        <!-- BORROW SINCE -->
				        <p:outputLabel for="borrowSince" value="Od:" />
				        <p:inputText id="borrowSince" value="#{borrowingBean.borrowSince}" required="true" style="margin-top:10px;" >
				        	<f:convertDateTime pattern="dd-MM-yyyy" timeZone="CZ" type="date" />
				        </p:inputText>	
				        
				        <!-- BORROW TO -->
				        <p:outputLabel for="borrowTo" value="Do:" />
				        <p:inputText id="borrowTo" value="#{borrowingBean.borrowTO}" required="true" style="margin-top:10px;">
				        	<f:convertDateTime pattern="dd-MM-yyyy" timeZone="CZ" type="date" />
				        </p:inputText>				        
				       
		     			<!-- Copy -->
				        <p:outputLabel for="numOfCopy" value="Výtisk:" />
						<b:selectOneMenu id="numOfCopy" value="#{borrowingBean.copy}" required="true">  
							  <f:selectItems
							  	value="#{libBorrowController.getAvaibleCopy(borrowingBean.title)}"
							  	var="copy" 
							  	itemValue="#{copy}" 
							  	itemLabel="#{copy.numCopy}" />
						</b:selectOneMenu>
						
						<!-- READERS -->
				        <p:outputLabel for="listOfReaders" value="Čtenář:" />
						<b:selectOneMenu id="listOfReaders" value="#{borrowingBean.reader}" required="true">  
							  <f:selectItems
							  	value="#{personController.allReaders}"
							  	var="person" 
							  	itemValue="#{person}" 
							  	itemLabel="#{person.login}" />
						</b:selectOneMenu>
						
				    </h:panelGrid>
				</p:panel>
				
				<p:toolbar>
					<!-- BUTTONS -->
			        <f:facet name="right">
			        
			        	<!-- BACK BUTTON -->
			            <b:commandButton
			            	value="Zpět" 
			            	look="danger" 
			            	action="#{authorController.back}" 
			            	style="margin: 5px;" 
			            	immediate="true" />
			            
			        	<!-- ADD BUTTON -->
			            <b:commandButton
			            	value="Přidat" 
			            	look="success" 
			            	action="#{borrowingController.add()}" 
			            	style="margin-left: 5px;" />
			            	
			        </f:facet>
    			</p:toolbar>
			</b:form>
		</b:container>
	</h:body>
</html>