<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<!-- TODO -->
	<h:head>
        <title>Knihovna Black Books</title>
    </h:head>
    
   	<h:body style="padding-top: 50px; padding-bottom: 20px;">
   
   		<!-- NAVBAR -->
        <ui:include src="/librarian/navbar.xhtml"/>
        
		<b:container>
	        <h:form>
		        <h3>Editace autora:</h3>
		        <h:panelGrid columns="3">
		            <h:outputLabel for="fname">First name:</h:outputLabel>
		            <h:inputText value="#{authorBean.firstName}" id="fname"></h:inputText>
		 
		            <h:outputLabel for="lname">Last name:</h:outputLabel>
		            <h:inputText value="#{authorBean.lastName}" id="lname"></h:inputText>
		 
		            <h:outputLabel for="bday">datum narozeni:</h:outputLabel>
		            <h:inputText value="#{authorBean.birthDate}" id="bday">
		            	<f:convertDateTime pattern="dd-mm-yyyy" />
		            </h:inputText>
		 
		            <h:outputLabel for="dday">Datum umrti:</h:outputLabel>
		            <h:inputText value="#{authorBean.dateOfDeath}" id="dday" >
		            	<f:convertDateTime pattern="dd-mm-yyyy" />
		            </h:inputText>
		 
		            <h:outputLabel for="nat">Narodnost:</h:outputLabel>
		            <h:inputText value="#{authorBean.nationality}" id="nat"></h:inputText>
		            
		            <h:commandButton 
		            	action="#{authorController.save}" 
		            	value="Uložit" />
		 
		        </h:panelGrid>
	    	</h:form>
    	</b:container>
    </h:body>
</html>