<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Uprava</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
	
		<!-- NAVBAR -->
		<ui:include src="/librarian/navbar.xhtml" />
		
		<!-- SPACE -->
		<b:container>
			<b:row>
				<b:column col-md="6" col-sm="12" style="height: 50px;" />
			</b:row>
		</b:container>

		<!-- TITLE FORM -->
		<b:container>
			<b:form id="titleForm">
				
				<b:inputText value="#{titleBean.isbn}" label="ISBN" required="true" />
				
				<b:inputText value="#{titleBean.name}" label="Název" required="true" />
				<b:inputText value="#{titleBean.edition}" label="Edice" required="true" />
				<b:inputText value="#{titleBean.lang}" label="Jazyk" required="true" />
				<b:inputText value="#{titleBean.numPages}" label="Počet stran" required="true" />
		
				<h:commandButton
					action="#{titleController.add}" 
					value="Přidat" />
			
			</b:form>
			<h:message for="titleForm" style="color: red" />

		</b:container>
	</h:body>
</html>