<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Vitej knihovniku</title>
	</h:head>
	
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">
		
		<!-- NAVBAR -->
		<ui:include src="/librarian/navbar.xhtml" />
	
		<!--  SPACE -->
		<b:container>
			<b:row>
				<b:column col-md="6" col-sm="12" style="height: 50px;"/>
			</b:row>
		</b:container>
		
		<!-- FORM -->
	    <b:container>
			<b:column col-xs="12">
				<h:form id="uvodniFormular">
		     		<b:column col-xs="12">
		     		
						<!-- FIND BUTTON -->
						<b:column col-xs="2"/>
						<b:column col-xs="4"/>
						
						<!-- ADD BUTTON -->
						<b:column col-xs="2"/>		
						<b:column col-xs="4">
						   <b:commandButton value="Přidat autora" icon="plus" look="success" style="width:100%" action="authorInsertForm"/>
						</b:column>
		     		</b:column>
		     		
		     		<!-- SPACE -->
					<b:column col-xs="12" style="height: 15px;"/>
		   		</h:form>
			 </b:column>
   		</b:container>
    	  	
		<!-- TABLE OF AUTHORS -->
		<b:container>
			<b:form id="titleTab">
				<b:dataTable class="editableCarTable" value="#{authorController.getAll()}" var="author" searching="false" responsive="true">
						
					<!-- FIRST NAME -->
					<b:dataTableColumn >
						<f:facet name="header">Jméno</f:facet>
		    				<h:outputText value="#{author.firstName}" />
					</b:dataTableColumn>
					
					<!-- LAST NAME -->
					<b:dataTableColumn >
						<f:facet name="header">Příjmení</f:facet>
		    				<h:outputText value="#{author.lastName}" />
					</b:dataTableColumn>
					
					<!-- BIRTH DATE -->
					<b:dataTableColumn >
						<f:facet name="header">Datum narození</f:facet>
		    			<h:outputText value="#{author.birthDate}">
		    				<f:convertDateTime locale="cs_CZ" pattern="dd.MM.yyyy" />
		    			</h:outputText>
		    			
					</b:dataTableColumn>
		
					<!-- DATE OF DEATH -->
					<b:dataTableColumn >
						<f:facet name="header">Datum úmrtí</f:facet>
		    			<h:outputText value="#{author.dateOfDeath}" >
		    				<f:convertDateTime locale="cs_CZ" pattern="dd.MM.yyyy" />
		    			</h:outputText>
					</b:dataTableColumn>
					
					<!-- INTERESTS -->
					<b:dataTableColumn >
						<f:facet name="header">Zajímavost</f:facet>
		    			<h:outputText value="#{author.interest}" />
					</b:dataTableColumn>
					
					<!-- NATIONALITY -->
					<b:dataTableColumn >
						<f:facet name="header">Národnost</f:facet>
		    			<h:outputText value="#{author.nationality}" />
					</b:dataTableColumn>
					
					<!-- UPDATE BUTTON -->
					<b:dataTableColumn label="" orderable="false">
						<b:commandButton value="Upravit" look="info" action="#{authorController.edit(author)}"/>
					</b:dataTableColumn>
					
					<!-- DELETE BUTTON -->
					<b:dataTableColumn label="" orderable="false">
						<b:commandButton value="Smazat" look="danger" action="#{authorController.delete(author)}"/>
					</b:dataTableColumn>
				</b:dataTable>
			</b:form>
		</b:container>   
	</h:body>
</html>