<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Úprava titulu</title>
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<!-- NAVBAR -->
		<ui:include src="/librarian/navbar.xhtml" />
	
		<b:container>
			<b:row>
				<b:column col-md="6" col-sm="12" style="height: 50px;" />
			</b:row>
		</b:container>
		
		<b:container>
			<b:column span="4">
			
				<!-- TITLE UPDATE FORM -->
				<b:form id="titleForm" >
				
					<!-- INPUTS -->
					<p:panel id="panel" header="Upravit titul" style="margin-bottom:10px;">
					    <p:messages id="messages" />
					    <h:panelGrid columns="2" cellpadding="5" style="padding-bottom:10px;">
					
					    	<!-- ISBN -->
					        <p:outputLabel for="isbn" value="ISBN:" />
					        <p:inputText id="isbn" value="#{titleBean.isbn}" required="true" style="margin-top:10px;">
					            <f:validateLength minimum="2" />
					        </p:inputText>				        
					
							<!-- NAME -->
					        <p:outputLabel for="name" value="Název:" />
					        <p:inputText id="name" value="#{titleBean.name}" required="true" style="margin-top:10px;"/>				        
					        
					        <!-- EDITION -->
					        <p:outputLabel for="edition" value="Edice:" />
							<b:selectOneMenu id="edition" value="#{titleBean.edition}" required="true">  
								  <f:selectItem itemLabel="neurčen" itemValue="" />
								  <f:selectItem value="prvni" var="c" itemValue="prvni" itemLabel="první" />
								  <f:selectItem value="druhe" var="c" itemValue="druhe" itemLabel="druhé" />
								  <f:selectItem value="treti" var="c" itemValue="treti" itemLabel="třetí" />
								  <f:selectItem value="ctvrte" var="c" itemValue="ctvrte" itemLabel="čtvrté" />
							</b:selectOneMenu>
					
					        <!-- LANGUAGES -->
					        <p:outputLabel for="lang" value="Jazyk:" />
					        <p:inputText id="lang" value="#{titleBean.lang}" required="true" style="margin-top:10px;"/>			      
					        
					        <!-- NUMBER OF PAGES -->
					        <p:outputLabel for="numOfPages" value="Počet stran:" />
					        <p:inputText id="numOfPages" value="#{titleBean.numPages}" style="margin-top:10px;"/>				        
	
					    </h:panelGrid>
					</p:panel>
					
					<p:toolbar>
						<!-- BUTTONS -->
				        <f:facet name="right">
				        
				        	<!-- BACK BUTTON -->
				            <b:commandButton value="Zpět" look="danger" action="#{authorController.back}" style="margin: 5px;" immediate="true"/>
				            
				        	<!-- ADD BUTTON -->
				            <b:commandButton value="Přidat" look="success" action="#{titleController.save}" style="margin-left: 5px;" />
				        </f:facet>
	    			</p:toolbar>
	    	
				</b:form>
			</b:column>		
		</b:container>
	</h:body>
</html>